<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
	<h1>FAQ</h1>
	<p>Frequently asked questions</p>
    <ul>
        {{ range . }}
            {{ template "qa" . }}
        {{ end }}
    </ul>
    
    {{ define "qa" }}
    <li>
        <b>Q:</b>{{ .Question }}<br>
        <b>A:</b>{{ .Answer }}
    </li>
    {{ end }}

    <pre>{{ . }}</pre> <!-- just render whatever data we have as a test -->
</body>
</html>