{{ template "header" . }}
	<h1>FAQ</h1>
	<p>Frequently asked questions</p>
    <ul>
        {{ range . }}
            {{ template "qa" . }}
        {{ end }}
    </ul>

    <pre>{{ . }}</pre> <!-- just render whatever data we have as a test -->

{{ template "footer" . }}

{{ define "qa" }}
<li>
    <b>Q:</b>{{ .Question }}<br>
    <b>A:</b>{{ .Answer }}
</li>
{{ end }}