<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
	<h1>FAQ</h1>
	<p>Frequently asked questions</p>
    <ul>
        <li>
            <b>Q:</b>Q1<br>
            <b>A:</b> A1
        </li>
        <li>
            <b>Q:</b> Q2<br>
            <b>A:</b> A2
        </li>
    </ul>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
</body>
</html>